<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kalkulator walut</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <center>
    <br><br>
    <P><b>KALKULARTOR WALUT 2022 - KALK_WAL</b></P>
    <br>
   
    <div class="container">

        <form action="/" method="POST" id="myform">
        <div class="row">
            <label for="waluty"><b>wybierz walutę:</b></label> 
           
            <select required name="from_c" id="from_c">
                
                {% for x in kody_walut %}
                <option value="{{x}}">{{x}}</option>
                {% endfor %}

                <!--
               <option value="USD">dolar amerykański</option>
               <option value="AUD">dolar australijski</option>
               <option value="CAD">dolar kanadyjski</option>
               <option value="EUR">euro</option>
               <option value="HUF">forint(Węgry)</option>
               <option value="CHF">frank szwakcarski</option>
               <option value="JPY">jen (Japonia)</option>
               <option value="CZK">korona czeska</option>
               <option value="DKK">korona duńska</option>
               <option value="NOK">korona norweska</option>
               <option value="SEK">korona szwedzka</option>
               <option value="XDR">SDR (MWF)</option> 
                -->

            </select>
           
        </div>
        <br><br>
        <div>
            <label for="amount"><b>kwota waluty</b></label>
            <input type="number" name="amount" min="0" value="{{amount}}" required="required">
        </div>
        <br><br>
        <button type="submit" formaction="{{result}}" method="get">Przelicz</button>
        <br><br><br>
        <label for="wynik"><b>wartość w zł</b></label> 
        <input type="number" value="{{result}}" readonly method="get"> 
        <br><br>
        <p><a>kurs obliczeń: {{bid}} </p>
        <p>kurs z dnia: {{tradingDay}} </p><br>
        <br><br>
        <input type="submit" formaction="{{home}}" value = "Nowe obliczenie"/>
        <br><br><br>
        </div>
    </form>
    <br>
    </center>
</body>
</html>