<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kalkulator walut</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <center>
    <br><br>
    <P><b>KALKULARTOR WALUT 2022 - KALK_WAL</b></P>
    <br>
   
    <div class="container">

        <form action="/" method="post" id="myform">
        <div class="row">
            <label for="waluty"><b>wybierz walutę:</b></label> 
           
                   
            <select required name="from_c" id="from_c">


                {% for d in data %}
                <option value="{{d}}">{{d}}</option>
                {% endfor %}

            </select>
           
        </div>
        <br><br>
        <div>
            <label for="amount"><b>kwota waluty</b></label>
            <input type="number" name="amount" min="0" value="{{amount}}" required="required">
        </div>
        <br><br>
        <button type="submit" formaction="{{result}}" method="get">Przelicz</button>
        <br><br><br>
        <label for="wynik"><b>wartość w zł</b></label> 
        <input type="number" value="{{result}}" readonly method="get"> 
        <br><br>
        <p><a>kurs obliczeń: {{bid}} </p>
        <p>kurs z dnia: {{tradingDay}} </p><br>
        <br><br>
        <a href="/"> nowe obliczenie </a>      
        <br><br><br>
        </div>
    </form>
    <br>
    </center>
</body>
</html>